apiVersion: v1
kind: Service
metadata:
  name: eutype-frontend
  namespace: eucloud
  labels:
    app: eutype-frontend
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30081
      protocol: TCP
      name: http
  selector:
    app: eutype-frontend
